<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
  <header class="display-flex justify-space-between align-center p-2">
  <nav class="navbar">
    <div class="container-fluid"> 
      <a class="navbar-brand" href="/">
        Tech Blog
      </a>
      <a href="/signup">
        <button type="button" class="btn btn-link">Sign up</button>
      </a>
      {{#if logged_in}}
        <a href="/login">
          <button type="button" class="btn btn-link">Log out</button>
        </a>
      {{/if}}
    </div>
  </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>