<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Blog</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400..900&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class='display-flex justify-space-between align-center p-2'>
      <nav class='navbar'>
        <div class='container-fluid'>
          <a class='navbar-brand m-3' href='/'>
            Tech Blog
          </a>
          {{#if logged_in}}
            <a href='/dashboard' class=' navbar-brand m-3'>
              Dashboard
            </a>
            <button type='button' class='btn btn-link' id='logout'>Log out</button>
          {{else}}
            <a href='/signup' class='navbar-brand m-3'>
              Sign up
            </a>
            <a href='/login' class='navbar-brand m-3'>
              Login
            </a>
          {{/if}}

        </div>
      </nav>
    </header>
    <main class='container container-fluid mt-5 p-5'>
      {{{body}}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>