<div class="row">
  <div class="col-md-6">
    <h2>Edit Comment</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="comment-title">Comment Title:</label>
        <input class="form-input" type="text" id="comment-title" />
      </div>
      <div class="form-group">
        <label for="comment-description">Description:</label>
        <input class="form-input" type="text" id="comment-description"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit Change</button>
      </div>
    </form>
  </div>
</div>