<div class="row">
  <div class="col-md-6">
    <h2>Edit Post</h2>

    <form class="form editPostForm">
      <div class="form-group">
        <label for="postTitleEdit">Title:</label>
        <input class="form-input" type="text" id="postTitleEdit" value="{{ title }}"/>
      </div>
      <div class="form-group">
        <label for="postDescriptionEdit">Description:</label>
        <input class="form-input" type="text" id="postDescriptionEdit" value="{{ description }}"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/edit.js"></script>

{{log this}}