{{!-- need blog post already created --}}
{{#each blogPosts as |blogPost|}}
<div class="blogPostContainer">
    <a href=`/dashboard/${blogPost.id}`></a>
    <h1 class="blogTitle">{{ blogPost.title }}</h1>
    <h4 class="userName">{{ blogPost.name }}</h4>
    <p class="blogDescription">{{ blogPost.description }}</p>
    <button class="editButton" id="onClick"><a href="/dashboard/{{ blogPost.id }}"></a></button>
</div>
{{/each}}
{{!-- take user to edit a post in different handlebars template --}}

<script src="./public/js/user.js"></script>